body {
  margin: 0;
  background-color: #91689c;
  color: white;
}

.App {
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
}

header {
  width: 300px;
  margin: 50px auto 0 auto;
}

.main-wrapper {
  margin-top: 100px;
}

.btn {
  background-color: #9bb377;
  font-weight: 200;
  font-size: 15px;
  margin: 25px;
  padding: 0 20px 0 20px;
  border: 1px solid #9bb377;
  border-radius: 5px;
  color: white;
}

.active:hover {
  background-color: #bddb8f;
  border: 1px solid #bddb8f;
}

.quote {
  font-weight: 100;
}

.inactive {
  background-color: #b8aeae;
  border: 1px solid #b8aeae;
  border: none;
}

.inactive:hover {
  cursor: default;
}
